<template>
  <main>
    <article>
      <m-clock :time="time"></m-clock>
    </article>
  </main>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      time: '10:40'
    }
  }
}
</script>
